.grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    justify-items: stretch;
    align-items: stretch;
}

.element {
    margin: 0.1em;
    border: solid;
}

img {
    width: 100%;
}